/* header styling */
#header{
  font-family: Optima, sans-serif;
  width: 99%;
  font-size: 77px;
  color: coral;
  text-shadow: 3px 3px 11px black;
  text-align: center;
  background-image: url('../blue.jpg');
  background-size: cover;
  border-radius: 5px;
  margin: auto;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100vh;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}